.yourFeedbackIs {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-peru);
  text-align: center;
}
.input {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  color: var(--color-gray);
}
.nameInput {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input3 {
  align-self: stretch;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  color: var(--color-gray);
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.submit {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.form,
.formSubmitButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.formSubmitButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-4xs);
  background-color: var(--color-darksalmon);
  width: 195px;
  border-radius: var(--br-9xs);
  flex-direction: row;
  box-sizing: border-box;
}
.form {
  margin: 0;
  align-self: stretch;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-mistyrose);
  flex-direction: column;
  padding: var(--padding-9xl) var(--padding-11xl);
  gap: var(--gap-mid);
}
@media screen and (max-width: 1200px) {
  .yourFeedbackIs {
    font-size: var(--font-size-11xl);
  }
  .formSubmitButton {
    background-color: var(--color-mediumseagreen);
  }
}
@media screen and (max-width: 960px) {
  .formSubmitButton {
    background-color: var(--color-mediumseagreen);
  }
}
@media screen and (max-width: 420px) {
  .yourFeedbackIs {
    font-size: var(--font-size-11xl);
  }
}
@media screen and (max-width: 350px) {
  .yourFeedbackIs {
    font-size: var(--font-size-6xl);
  }
}
