.image12Icon {
  width: 205px;
  position: relative;
  border-radius: var(--br-9xl);
  height: 136.1px;
  object-fit: cover;
}
.highlandBeans {
  position: relative;
  line-height: 130%;
}
.formHeader {
  align-self: stretch;
  justify-content: flex-start;
  gap: 15px;
}
.feedback,
.formHeader,
.shareYourTravelsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shareYourTravelsForm {
  width: 657px;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative !important;
  left: auto !important;
}
.feedback {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1036px;
  overflow: hidden;
  justify-content: center;
  gap: 100px;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .highlandBeans {
    font-size: var(--font-size-11xl);
  }
}
@media screen and (max-width: 960px) {
  .shareYourTravelsForm {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 90%;
  }
}
@media screen and (max-width: 420px) {
  .highlandBeans {
    font-size: var(--font-size-11xl);
  }
  .shareYourTravelsForm {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 350px) {
  .highlandBeans {
    font-size: var(--font-size-6xl);
  }
}
